:root {
    --page-max-width: 1280px;
    --page-min-width: 490px;
}

@media (max-width: 950px) {
    .product-name div {
        flex-direction: column;
    }
    .about-your-product {
        flex-direction: column;
    }
    .dignity-and-pluses-product .content {
        flex-direction: column;
    }
    .dignity-and-pluses-product .content div:nth-child(2) {
        padding-left: 50px;
    }
    .dignity-and-pluses-product .content ul:first-child li:last-child {
        margin-bottom: 0px;
    }
    .screenshots h3 {
        clear: both;
    }
    .buy-it-now .content {
        justify-content: flex-start;
    }
    .contacts .content {
        flex-direction: column;
    }
    .reviews .content {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .contacts .content div {
        width: 100%;
    }
}

body {
    max-width: var(--page-max-width);
    min-width: var(--page-min-width);
    margin: 0 auto;
    background-image: url('../img/light-grey-terrazzo.png');
    background-attachment:fixed;
}

footer {
    clear: both;
}

footer p {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.product-name {
    width: 100%;
}

.product-name .content {
    width: 100%;
    background-color: #445161;
    display: flex;
    justify-content: space-between;
}

.product-name .content div {
    display: inline-flex;
    flex-direction: column;
}

.product-name .content div h1 {
    width: 100%;
    height: 44px;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    font-family: Arial;
    font-size: 58px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 50px;
}

.product-name ul {
    padding-left: 51px;
}

.product-name li {
    list-style: none;
    width: 100%;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.product-name li::before {
    content: url('../img/check-icon.png');
    font-size: 20px;
    color: white;
    margin-right: 10px;
    text-align: left;
}

.product-name video {
    width: 469hv;
    height: 214px;
    margin-top: 50px;
    margin-right: 50px;
}

.about-your-product {
    display: flex;
    justify-content: space-between;
    background-image: url('../img/cat-solid.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: 3%;
}

.about-your-product div {
    display: inline-flex;
    flex-direction: column;
}

.about-your-product h2 {
    height: 28px;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #445161;
    margin-left: 50px;
    margin-top: 49px;
}

.about-your-product p {
    margin-left: 50px;
    max-width: 590px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    padding-right: 10px;
}

.about-your-product p:first-child {
    margin-bottom: 20px;
}

.about-your-product figure {
    background-image: url('../img/about_product_pic.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;
    width: 430px;
    height: 245px;
    margin-right: 50px;
}

.dignity-and-pluses-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dignity-and-pluses-product>div {
    width: 100%;
    background: #f5f5f5;
}

.dignity-and-pluses-product h2 {
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #445161;
    margin: 0 auto;
    padding: 0;
    padding-top: 50px;
}

.dignity-and-pluses-product .content {
    display: flex;
    justify-content: space-between;
}

.dignity-and-pluses-product .content div {
    background: #f5f5f5;
}

.dignity-and-pluses-product .content div:nth-child(1) {
    padding-left: 50px;
    margin-right: 23px;
}

.dignity-and-pluses-product .content div:nth-child(2) {
    margin-right: 23px;
}

.dignity-and-pluses-product .content ul {
    padding-left: 0px;
    margin-top: 29px;
}

.dignity-and-pluses-product .content li {
    list-style-type: none;
    background: url("../img/pluse-cube.png") no-repeat;
    font-family: Arial;
    font-size: 16px;
    text-align: left;
    color: #333333;
    margin-bottom: 36px;
    list-style-position: outside;
    padding-left: 41px;
}

.dignity-and-pluses-product .content ul li:last-child {
    margin-bottom: 51px;
}

.screenshots {
    display: flex;
    flex-direction: column;
    padding-top: 51px;
}

.screenshots h2 {
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    margin: 0px;
    margin-bottom: 35px;
}

.screenshots .content {
    display: flex;
    justify-content: space-between;
}

.screenshots figure {
    width: 200px;
    height: 150px;
    float: left;
    background-color: #445161;
    margin-left: 50px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.screenshots h3 {
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #445161;
    margin: 0px;
    margin-left: 50px;
}

.screenshots p {
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-right: 10px;
    margin-left: 50px;
}

.screenshots .content img {
    height: 100%;
    width: 100%;
}

/*reviews*/

.reviews {
    display: flex;
    flex-direction: column;
    padding-top: 51px;
    background-color: #f5f5f5;
}

.reviews h2 {
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #445161;
    margin: 0px;
    padding-bottom: 35px;
    background-color: inherit;
}

.reviews .content {
    display: flex;
}

.reviews article {
    margin-bottom: 24px;
}

.reviews figure {
    width: 75px;
    height: 75px;
    float: left;
    background-color: #445161;
    border-radius: 37.5px;
    margin-left: 30px;
    margin-right: 16px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.reviews .content img {
    height: 100%;
    width: 100%;
    border-radius: 37.5px;
}

.reviews article {
    background-color: #ebebeb;
    overflow: hidden;
    
}

.reviews address {
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #989898;
    margin-top: 15px;
}

.reviews p {
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin: 0 auto;
}

.buy-it-now {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buy-it-now h2 {
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #445161;
    margin: 0;
    padding-top: 50px;
}

.buy-it-now .content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 49px;
}

.buy-it-now .content div {
    display: flex;
    flex-direction: column;
}

.buy-it-now h3 {
    border: 2px solid #445162;
    background-color: #445162;
    height: 51px;
    width: 296px;
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 51px;
    letter-spacing: normal;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    margin-bottom: 0;
}

.buy-it-now h4 {
    border: 2px solid #445162;
    height: 71px;
    width: 296px;
    font-family: Arial;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 71px;
    letter-spacing: normal;
    text-align: center;
    margin: 0;
    color: #445162;
}

.buy-it-now article {
    border: 2px solid #445162;
    width: 296px;
    display: block;
    margin: 0;
    background-color: #445162;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.buy-it-now ul {
    background-color: #445162;
    margin: 0;
    width: 100%;
    padding-left: 0;
    padding-top: 19px;
    padding-bottom: 19px;
}

.buy-it-now ul li {
    width: 242px;
    list-style-type: none;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 20px;
}

.buy-it-now a {
    display: block;
    width: 260px;
    height: 40px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 40px;
    letter-spacing: normal;
    text-align: center;
    color: #445161;
    margin: 0 auto;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #445162;
    margin: 0 auto;
    padding: 0;
}

.contacts h2 {
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 53px;
}

.contacts .content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contacts .content div:first-child {
    width: 500px;
}

.contacts .content div input {
    width: 100%;
    height: 40px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #445162;
    border-radius: 5px;
    margin-bottom: 21px;
}

.contacts .content div textarea {
    width: 100%;
    height: 170px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #445162;
    border-radius: 5px;
    margin-bottom: 21px;
}

.contacts .content div input:last-child {
    width: 140px;
    height: 40px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #445162;
    border-radius: 5px;
    margin-bottom: 21px;
    margin-left: calc(50% - 70px);
    background-color: white;
}

.contacts .content div ul {}

.contacts .content div li {
    list-style: none;
    margin-bottom: 29px;
    text-align: left;
}

.contacts .content div li a {
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 26px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}

.contacts .content div li a img {
    margin-right: 5px;
}

.contacts .content div>img {
    margin-left: 45px;
}

.contacts .content .twitter_link {
    display: block;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 45px;
    background-image: url('../img/twitter-brands.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 21px;
    text-decoration: none;
    margin-left: 45px;
    float: left;
}

.contacts .content .facebook_link {
    display: block;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 45px;
    background-image: url('../img/facebook-f-brands.svg');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 21px;
    text-decoration: none;
    margin-left: 5px;
    float: left;
}

.contacts .content .linkedin_link {
    display: block;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 45px;
    background-image: url('../img/linkedin-in-brands.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 21px;
    text-decoration: none;
    margin-left: 5px;
    float: left;
}

.contacts .content .google_link {
    display: block;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 45px;
    background-image: url('../img/google-brands.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 21px;
    text-decoration: none;
    margin-left: 5px;
    float: left;
}

.contacts .content .links:hover {
     background-color: coral;   
}

.contacts .content .facebook_link {
    display: block;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 45px;
    background-color: white;
    border-radius: 21px;
    text-decoration: none;
    margin-left: 5px;
    float: left;
}

.contacts .content .facebook_link i {
    transform: scale(1.3)
}

