:root {
    --page-max-width: 1280px;
    --page-min-width: 950px;
}

body {
    max-width: var(--page-max-width);
    min-width: var(--page-min-width);
    margin: 0 auto;
}

footer p {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.product-name {
    width: 100%;
    height: 323px;
    background-color: #445161;
}

.product-name div {
    float: left;
    width: 50%;
}

.product-name h1 {
    width: 100%;
    height: 44px;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    font-family: Arial;
    font-size: 58px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 50px;
}

.product-name ul {
    padding-left: 51px;
}

.product-name li {
    list-style: none;
    width: 100%;
    height: 36px;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.product-name li::before {
    content: url('../img/check-icon.png');
    font-size: 20px;
    color: white;
    margin-right: 10px;
    text-align: left;
}

.product-name figure {
    width: 469px;
    height: 214px;
    background-color: #ffffff;
    margin: 50px auto;
}

.about-your-product div {
    float: left;
    width: 50%;
}

.about-your-product h1 {
    height: 28px;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #445161;
    margin-left: 50px;
    margin-top: 49px;
}

.about-your-product p {
    display: block;
    margin-left: 50px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.about-your-product p:first-child {
    margin-bottom: 20px;
}

.about-your-product figure {
    background-color: #445161;
    margin: 50px auto;
    width: 430px;
    height: 245px;
}

.dignity-and-pluses-product>div {
    width: 100%;
    background: #f5f5f5;
}

.dignity-and-pluses-product {
    clear: both;
}

.dignity-and-pluses-product h1 {
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #445161;
    margin: 0 auto;
    padding: 0;
    padding-top: 50px;
}

.dignity-and-pluses-product .content div {
    float: left;
    width: 50%;
    background: #f5f5f5;
}

.dignity-and-pluses-product .content li {
    list-style-type: none;
    background: url("../img/pluse-cube.png") no-repeat;
    font-family: Arial;
    font-size: 16px;
    text-align: left;
    color: #333333;
    margin-bottom: 36px;
    list-style-position: outside;
    padding-left: 41px;
}

.screenshots {
    clear: both;
    padding-top: 51px;
}

.screenshots h1 {
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    margin: 0px;
    margin-bottom: 35px;
}

.screenshots div {
    width: 50%;
    float: left;
}

.screenshots article {
    clear: both;
}

.screenshots figure {
    width: 200px;
    height: 150px;
    float: left;
    background-color: #445161;
    margin-left: 50px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.screenshots h3 {
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #445161;
    margin: 0px;
}

.screenshots p {
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin: 0 auto;
}